:root {
  --color-maastrichtblue: #0b1739;
  --color-primary: #7ec040;
  --color-charcoal: #343b4f;
  --color-gunmetal: #293138;
  --color-darkGray: #3a4652;
  --color-borderlight: #eaedf3;
  --shadow-sidebar: 0 8px 28px rgba(35, 54, 112, 30%);
  --shadow-inputout: -1px 3px 11px 0px #0000002b;
  --wf-overlay-bg: rgba(0, 0, 0, 0.8);
  --wf-shadow-strong: rgba(0, 0, 0, 0.2);
  --wf-brand-primary-soft: rgba(126, 192, 64, 0.15);
}
.card-gradient-color {
  background: linear-gradient(177deg, #6db92a 1%, #487c19 95%);
}
.text-eclipscs {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.arrow:hover {
  background: var(--arrow-hover);
}
.pd-2 {
  padding-left: 10px !important;
}

.wf-tooltip-wrapper {
  position: absolute;
  display: inline-block;
  bottom: 12px;
  right: 20px;
  z-index: 90;
}
.wf-status-icon {
  width: 28px; /* consistent size */
  height: 28px;
  border-radius: 50%; /* circle */
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
  border: 2px solid white;
  color: white;
  font-size: 14px;

  box-shadow: 0 2px 4px #00000020; /* subtle elevation */
  cursor: default;
  position: relative;
  top: 5px;
  transform: translateY(-50%);
}

.wf-status-success {
  background: #22c55e; /* green-500 */
}

.wf-status-error {
  background: #ef4444; /* red-500 */
}

.wf-status-running {
  background: #f59e0b; /* amber-500 */
}

.wf-tooltip {
  color: #fff;
  white-space: nowrap;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background: #1f2937;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12px;
  font-family: monospace;

  transition: opacity 0.15s ease-out;
  position: absolute;
  box-shadow: 0 3px 8px #00000040;

  left: 100%; /* place next to node */
  top: 50%;
  transform: translateY(-50%); /* ⭐ perfect vertical centering */
}

.wf-tooltip-wrapper:hover .wf-tooltip {
  opacity: 1;
}

.wf-scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer + Edge */
}

.wf-scroll-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari */
}
@keyframes wf-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wf-spin {
  animation: wf-spin 1s linear infinite;
}
.wf-image-container-size {
  width: 100%;
  height: 100%;
}
